parameters:
	ignoreErrors:
		-
			message: '#^Called \[toArray\(\)\] on an Enumerable which does not contain any Arrayables\.$#'
			identifier: laravel.unnecessaryEnumerableToArrayCall
			count: 1
			path: ../build/e2e/filamentphp-filament/packages/forms/src/Components/Repeater.php

		-
			message: '#^Called \[toArray\(\)\] on an Enumerable which does not contain any Arrayables\.$#'
			identifier: laravel.unnecessaryEnumerableToArrayCall
			count: 2
			path: ../build/e2e/filamentphp-filament/packages/forms/src/Components/Select.php

		-
			message: '#^Method Filament\\Infolists\\Components\\SpatieTagsEntry\:\:getState\(\) should return array\<string\> but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: ../build/e2e/filamentphp-filament/packages/spatie-laravel-tags-plugin/src/Infolists/Components/SpatieTagsEntry.php

		-
			message: '#^Anonymous function should return array but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: ../build/e2e/filamentphp-filament/packages/spatie-laravel-tags-plugin/src/Tables/Columns/SpatieTagsColumn.php

		-
			message: '#^Called \[toArray\(\)\] on an Enumerable which does not contain any Arrayables\.$#'
			identifier: laravel.unnecessaryEnumerableToArrayCall
			count: 2
			path: ../build/e2e/filamentphp-filament/packages/support/src/Commands/CheckTranslationsCommand.php
